<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <a id="forkme_banner" href="https://github.com/0100354256/PracticaPL05">https://github.com/0100354256/PracticaPL05</a>

    <h1 id="project_title">Comma Separated Value Analyzer [Ajax]</h1>
  </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <h3>CSV Analyzer [Ajax]</h3> </br>

    <table>
      <tr>
        <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
        <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td> 
      </tr>
    </table>
    
    <button type="button" id="button">table:</button><br>
    <span class="output" id="finaltable"></span>  

    <h3><a id="test" class="anchor" href="#test" aria-hidden="true"><span class="octicon octicon-link"></span></a>Test:</h3>
    <p><a href="test">Tests</a> de CSV Analyzer [Ajax]</p>

    <h3><a id="autor" class="anchor" href="#autor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Autor:</h3>
    <p>Sergio González Rodríguez [<a href="https://github.com/0100354256">https://github.com/0100354256</a>]</p>
    <p>PL 2014-15: [<a href="http://0100354256.github.io/PL1415/">http://0100354256.github.io/PL1415/</a>]</p>
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">Conversor de Temperaturas maintained by <a href="https://github.com/0100354256">0100354256</a></p>
    <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
</footer>